@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@font-face {
  font-family: "FjallaOne-Regular";
  src: url("../../fonts/FjallaOne-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
h1, h2, h3, h4, h5, h6 {
  font-family: "FjallaOne-Regular", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
}
body p {
  font-size: 14px;
}
body .btn {
  font-family: "Nunito", sans-serif;
}
body h1 {
  font-size: 52px;
}

.navbar {
  min-height: 96px;
  margin-bottom: 0px;
}
.navbar-header .navbar-brand {
  height: 96px;
}
.navbar-header .navbar-brand img {
  width: 184px;
  height: 63px;
}
.navbar .navbar-collapse .nav.navbar-nav {
  position: relative;
  top: 33px;
}
.navbar .navbar-collapse .nav.navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #333333;
  padding: 15px 25px;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right a.lang {
  position: absolute;
  top: -21px;
  right: 9px;
  font-size: 12px;
  font-weight: 700;
  color: #333333;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right a.lang:hover {
  text-decoration: none;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right li {
  margin-right: 10px;
  display: inline-block;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right li:last-child {
  margin-right: 0px;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right li a {
  border: 1px solid #333333;
  border-radius: 5px;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right li a.reg {
  background-color: #666699;
  border-color: #666699;
  color: #ffffff;
  padding: 10px 32px;
  margin-top: 4px;
}
.navbar .navbar-collapse .nav.navbar-nav.navbar-right li a.reg.log {
  background-color: #ffffff;
  color: #333333;
  border-color: #333333;
}

section.top-section {
  background: url("../../img/hero-image.jpg");
  min-height: 572px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  background-attachment: fixed;
}
section.top-section .container {
  display: flex;
}
section.top-section .container .row {
  display: flex;
  align-items: center;
}
section.top-section .top-section-title h1 {
  text-transform: uppercase;
  margin-top: 0px;
}
section.top-section .top-section-title p {
  margin-bottom: 20px;
}
section .btn {
  background: #666699;
  border: none;
  width: 26%;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
section.cta-partner {
  position: relative;
  top: -100px;
}
section.cta-partner .card {
  background: #50c1b7;
  height: 262px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  padding: 60px;
  position: relative;
  z-index: 2;
}
section.cta-partner .card::before {
  content: "PARTNER";
  font-family: "FjallaOne-Regular";
  position: absolute;
  font-size: 102px;
  color: rgba(255, 255, 255, 0.12);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-transform: uppercase;
}
section.cta-partner .card h2 {
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 0px;
}
section.cta-partner .card .outline {
  display: inline-block;
  width: 40%;
  box-shadow: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  margin-top: 10px;
  position: relative;
  z-index: 3;
}
section.cta-partner .card .outline:hover {
  background-color: #c1c1c1;
}
section.cta-partner .card.member {
  background-color: #666699;
}
section.cta-partner .card.member::before {
  content: "Member";
}
section.cta-partner .banner {
  margin-top: 30px;
  background-image: url("../../img/bg-about.jpg");
  height: 406px;
  display: flex;
  align-items: center;
  padding: 60px;
}
section.cta-partner .banner .banner-content h1 {
  text-transform: uppercase;
  margin-top: 0px;
}
section.slide-partner {
  margin-bottom: 100px;
}
section.slide-partner .container {
  display: flex;
  align-items: center;
}
section.slide-partner .container .slide-partner-side-left {
  flex: 30% 0 0;
}
section.slide-partner .container .slide-partner-side-left h4 {
  margin-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
}
section.slide-partner .container .slide-partner-side-left h3 {
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 34px;
}
section.slide-partner .container .slide-partner-side-left .btn {
  display: inline-block;
  width: 47%;
  margin-top: 70px;
}
section.slide-partner .container .slide-partner-item {
  flex: 70% 0 0;
  width: 300px;
}
section.slide-partner .container .slide-partner-item .owl-carousel .owl-stage-outer .item {
  border: 1px solid #c2c2c2;
}
section.slide-partner .container .slide-partner-item .owl-carousel .owl-nav.disabled {
  display: block;
  position: absolute;
  left: -345px;
  top: 117px;
  margin-top: 0px;
}
section.slide-partner .container .slide-partner-item .owl-carousel .owl-nav.disabled button {
  font-size: 46px;
  background: #e6e6e6;
  width: 44px;
  height: 44px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  line-height: 46px;
}
section.slide-partner .container .slide-partner-item .owl-carousel .owl-nav.disabled button.owl-next {
  position: absolute;
  top: 0px;
  left: 50px;
}

footer {
  background-color: #343434;
  color: #ffffff;
  padding: 70px 0px;
}
footer .widget h5 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0px;
}
footer .widget input {
  background: transparent;
  box-shadow: none;
  border: 1px solid #525252;
  height: 38px;
  width: 65%;
  color: #525252;
  padding: 0px 20px;
}
footer .widget .btn {
  background: #414141;
  margin-left: 10px;
  height: 38px;
  border-radius: 0px;
  width: 31%;
  color: #7a7a7a;
}
footer .widget ul {
  list-style: none;
  padding-left: 0px;
  position: relative;
}
footer .widget ul .contact-item-list {
  position: relative;
  padding-left: 24px;
  margin-bottom: 15px;
}
footer .widget ul .contact-item-list:last-child {
  margin-bottom: 0px;
}
footer .widget ul .contact-item-list i {
  position: absolute;
  left: 0px;
  top: 5px;
}
footer .widget .widget-social-item a {
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}
footer .widget .widget-social-item a:last-child {
  margin-right: 0px;
}
footer .widget .widget-social-item a i {
  font-size: 28px;
  width: 28px;
  line-height: 28px;
  text-align: center;
}
footer .widget .widget-social-item a:hover {
  color: #7a7a7a;
}

.floating-share {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 45%;
}
.floating-share a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #0a5a90;
  color: #ffffff;
  margin-bottom: 3px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.floating-share a.ig {
  background-color: #d84153;
}
.floating-share a.pin {
  background-color: #f15f5d;
}
.floating-share a:hover {
  background-color: #aeaeae;
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar .navbar-collapse .nav.navbar-nav {
    top: -13px;
  }
  .navbar .navbar-collapse .nav.navbar-nav.navbar-right {
    display: block;
    float: none;
    padding: 0px 20px;
  }
  .navbar .navbar-collapse .nav.navbar-nav.navbar-right a.lang {
    display: none;
  }
  .navbar .navbar-collapse .nav.navbar-nav.navbar-right li {
    display: block;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .navbar .navbar-collapse .nav.navbar-nav.navbar-right li:last-child {
    margin-bottom: 0px;
  }
  .navbar .navbar-collapse .nav.navbar-nav.navbar-right li a {
    text-align: center;
  }

  .navbar-toggle {
    background-color: transparent;
    margin: 35px 20px 21px;
    padding: 0px;
  }
  .navbar-toggle .icon-bar {
    background-color: grey;
  }

  section.cta-partner .card {
    height: auto;
    padding: 25px;
    margin-bottom: 20px;
  }
  section.cta-partner .card .outline {
    width: 48%;
  }
  section.cta-partner .card::before {
    font-size: 80px;
  }
  section.cta-partner .banner {
    height: auto;
    padding: 30px;
    background-position: center bottom;
  }
  section .btn {
    width: 34%;
  }
  section.slide-partner {
    margin-top: -52px;
    margin-bottom: 40px;
  }
  section.slide-partner .container {
    display: block;
    align-items: flex-start;
    flex-direction: column;
  }
  section.slide-partner .container .slide-partner-side-left {
    margin-bottom: 20px;
  }
  section.slide-partner .container .slide-partner-side-left .btn {
    width: 100%;
  }
  section.slide-partner .container .slide-partner-item {
    width: 100%;
  }
  section.slide-partner .container .slide-partner-item .owl-nav {
    position: absolute;
    top: -128px;
    margin-top: 0px;
  }
  section.slide-partner .container .slide-partner-item .owl-nav button {
    font-size: 46px;
    background: #e6e6e6;
    width: 44px;
    height: 44px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    line-height: 46px;
  }
  section.slide-partner .container .slide-partner-item .owl-nav button.owl-next {
    position: absolute;
    top: 0px;
    left: 50px;
  }

  footer .widget .row form {
    margin-bottom: 20px;
  }
  footer .widget .row div {
    margin-bottom: 30px;
  }
  footer .widget .row div:last-child {
    margin-bottom: 0px;
  }

  .floating-share {
    z-index: 99;
  }
}

/*# sourceMappingURL=style.css.map */
