@import './fonts';
h1, h2, h3, h4, h5, h6{
    font-family: 'FjallaOne-Regular', sans-serif;
}
body{
    font-family: 'Nunito', sans-serif;
    p{
        font-size: 14px;
    }
    .btn{
        font-family: 'Nunito', sans-serif;
    }
    h1{
        font-size: 52px;
    }
}